<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<ul>
  <% @list.movies.each do |movie| %>
  <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
  <li><%= movie.title %> - <%= movie.rating %><%= movie.overview %> - <%= bookmark.comment %> - <%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"} %></li>
  <% end %>
</ul>
<%= link_to "Add bookmark", new_list_bookmark_path(@list) %>
